https://www.offerzen.com/blog/how-to-build-a-content-based-recommender-system-for-your-product

https://medium.com/towards-artificial-intelligence/content-based-recommender-system-4db1b3de03e7

https://towardsdatascience.com/how-to-build-from-scratch-a-content-based-movie-recommender-with-natural-language-processing-25ad400eb243

https://www.analyticsvidhya.com/blog/2015/08/beginners-guide-learn-content-based-recommender-systems/

In [41]:
import pandas as pd
import numpy as np

In [42]:
#Loading data from csv files
books = pd.read_csv('./goodbooks-10k/books.csv', encoding = "ISO-8859-1",index_col=0)
books.head()

,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
id,,,,,,,,,,,,,,,,,,,,,
1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [43]:
books.shape

(10000, 22)

In [44]:
books.columns

Index(['book_id', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13',
       'authors', 'original_publication_year', 'original_title', 'title',
       'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [45]:
ratings = pd.read_csv('./goodbooks-10k/ratings.csv', encoding = "ISO-8859-1")
ratings.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [46]:
book_tags = pd.read_csv('./goodbooks-10k/book_tags.csv', encoding = "ISO-8859-1")
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [47]:
tags = pd.read_csv('./goodbooks-10k/tags.csv')
tags.tail()

       tag_id    tag_name
34247   34247   Ｃhildrens
34248   34248   Ｆａｖｏｒｉｔｅｓ
34249   34249       Ｍａｎｇａ
34250   34250      ＳＥＲＩＥＳ
34251   34251  ｆａｖｏｕｒｉｔｅｓ

In [48]:
joined_tags = pd.merge(book_tags, tags, left_on='tag_id', right_on='tag_id', how='inner')
joined_tags.head()

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read
1                  2   30574   24549  to-read
2                  3   30574  496107  to-read
3                  5   30574   11909  to-read
4                  6   30574     298  to-read

In [49]:
joined_tags.shape

(999912, 4)

In [50]:
to_read = pd.read_csv('./goodbooks-10k/to_read.csv')
to_read.head()

   user_id  book_id
0        1      112
1        1      235
2        1      533
3        1     1198
4        1     1874

TfidfVectorizer function from scikit-learn, which transforms text to feature vectors that can be used as input to estimator.

Cosine Similarity to calculate a numeric value that denotes the similarity between two books.

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [52]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')

In [53]:
tfidf_matrix = tf.fit_transform(books['authors'])
cos_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [54]:
cos_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [55]:

# Build a 1-dimensional array with book titles
titles = books['title']
indices = pd.Series(books.index, index=books['title'])

In [56]:
# Function that get book recommendations based on the cosine similarity score of book authors
def authors_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cos_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

In [57]:
#Top 10 books recommended on basis of authors
authors_recommendations('The Catcher in the Rye').head(10)

id
26                 The Da Vinci Code (Robert Langdon, #2)
145                                       Deception Point
170                                      Digital Fortress
201                  The Lost Symbol (Robert Langdon, #3)
240                          Inferno (Robert Langdon, #4)
4496    Angels and Demons / The Da Vinci Code (Robert ...
729                        Hyperion (Hyperion Cantos, #1)
1484           The Fall of Hyperion (Hyperion Cantos, #2)
3246           The Rise of Endymion (Hyperion Cantos, #4)
3247                       Endymion (Hyperion Cantos, #3)
Name: title, dtype: object

### Recommend books using the tags provided to the books.

In [58]:
books_with_tags = pd.merge(books, joined_tags, left_on='book_id', right_on='goodreads_book_id', how='inner')

In [59]:
books_with_tags.head(3)

,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,...,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,goodreads_book_id,tag_id,count,tag_name
0,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,30574,11314,to-read
1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,11305,10836,fantasy
2,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,11557,50755,favorites

In [60]:
tf1 = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix1 = tf1.fit_transform(books_with_tags['tag_name'].head(10000))
cos_sim1 = linear_kernel(tfidf_matrix1, tfidf_matrix1)

In [61]:
cos_sim1

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [62]:
# Build a 1-dimensional array with book titles
titles1 = books['title']
indices1 = pd.Series(books.index, index=books['title'])

# Function that get book recommendations based on the cosine similarity score of books tags
def tags_recommendations(title):
    idx = indices1[title]
    sim_scores = list(enumerate(cos_sim1[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

In [63]:
#Top 10 books with similar tags as given book
tags_recommendations('The Catcher in the Rye').head(10)

id
111                          The Memory Keeper's Daughter
208                  The Immortal Life of Henrietta Lacks
307     The Wise Man's Fear (The Kingkiller Chronicle,...
508      Nickel and Dimed: On (Not) Getting By in America
608                                      Love You Forever
708                                        Eleven Minutes
1109    New Moon: The Complete Illustrated Movie Compa...
1308    A Court of Mist and Fury (A Court of Thorns an...
1405               The Year of the Flood  (MaddAddam, #2)
1608                      Paranormalcy (Paranormalcy, #1)
Name: title, dtype: object

### Recommendation of books using the authors and tags attributes for better results. Creating corpus of features and calculating the TF-IDF on the corpus of attributes for gettings better recommendations.

In [64]:
temp_df = books_with_tags.groupby('book_id')['tag_name'].apply(' '.join).reset_index()
temp_df.head()

   book_id                                           tag_name
0        1  to-read fantasy favorites currently-reading yo...
1        2  to-read fantasy favorites currently-reading yo...
2        3  to-read fantasy favorites currently-reading yo...
3        5  to-read fantasy favorites currently-reading yo...
4        6  to-read fantasy young-adult fiction harry-pott...

In [65]:
temp_df.shape

(10000, 2)

In [66]:
books = pd.merge(books, temp_df, left_on='book_id', right_on='book_id', how='inner')

In [67]:
books.head()

,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_name
0,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,to-read fantasy favorites currently-reading yo...
1,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,...,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read fantasy favorites currently-reading yo...
2,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",...,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,to-read fantasy favorites currently-reading yo...
3,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,...,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,to-read favorites currently-reading young-adul...
4,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,...,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,to-read favorites currently-reading young-adul...

In [68]:
books.shape

(10000, 23)

In [69]:
books['corpus'] = (pd.Series(books[['authors', 'tag_name']]
                .fillna('')
                .values.tolist()
                ).str.join(' '))

In [70]:
print(list(books['corpus'].head(1)))

['Suzanne Collins to-read fantasy favorites currently-reading young-adult fiction books-i-own owned ya series favourites re-read adventure sci-fi-fantasy all-time-favorites default my-books reread i-own audiobook 5-stars favorite-books novels fantasy-sci-fi favorite audiobooks read-more-than-once my-library ya-fantasy teen english books ya-fiction my-favorites own-it library audio young-adult-fiction novel scifi-fantasy faves favorite-series shelfari-favorites kindle romance favourite to-buy read-in-2014 ebook contemporary 5-star coming-of-age favourite-books favs action read-in-2013 read-in-2011 finished ya-books borrowed sci-fi ya-lit loved love thriller science-fiction finished-series action-adventure scifi sf book-club speculative-fiction ebooks e-book read-in-2012 read-in-2010 survival future drama reviewed suspense dystopia dystopian post-apocalyptic read-2012 dystopias dystopian-fiction distopia distopian read-2011 teen-fiction 2012-reads futuristic ya-dystopian trilogy completed-series love-triangle suzanne-collins hunger-games the-hunger-games']

In [71]:
tf_corpus = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix_corpus = tf_corpus.fit_transform(books['corpus'])
cosine_sim_corpus = linear_kernel(tfidf_matrix_corpus, tfidf_matrix_corpus)

In [72]:
# Build a 1-dimensional array with book titles
titles = books['title']
indices = pd.Series(books.index, index=books['title'])

In [73]:
# Function that get book recommendations based on the cosine similarity score of books tags
def corpus_recommendations(title):
    idx = indices1[title]
    sim_scores = list(enumerate(cosine_sim_corpus[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

corpus_recommendations("The Hobbit")

4                         The Great Gatsby
31                         Of Mice and Men
27                       Lord of the Flies
482                       Franny and Zooey
3                    To Kill a Mockingbird
128        One Flew Over the Cuckoo's Nest
781                          The Awakening
1565                           Ethan Frome
137                     The Scarlet Letter
57      The Adventures of Huckleberry Finn
714                    Death of a Salesman
594                       A Separate Peace
130                    The Grapes of Wrath
159                     Great Expectations
386                           The Crucible
264               A Tree Grows in Brooklyn
263                     The Sun Also Rises
112                               Catch-22
300                      Heart of Darkness
455               A Streetcar Named Desire
Name: title, dtype: object

In [74]:
corpus_recommendations("Twilight (Twilight, #1)")

7                   The Catcher in the Rye
4                         The Great Gatsby
31                         Of Mice and Men
27                       Lord of the Flies
130                    The Grapes of Wrath
129                The Old Man and the Sea
781                          The Awakening
467           Their Eyes Were Watching God
57      The Adventures of Huckleberry Finn
128        One Flew Over the Cuckoo's Nest
714                    Death of a Salesman
13                             Animal Farm
1565                           Ethan Frome
455               A Streetcar Named Desire
137                     The Scarlet Letter
159                     Great Expectations
353                                Beloved
594                       A Separate Peace
1160                           Cannery Row
263                     The Sun Also Rises
Name: title, dtype: object

In [78]:
corpus_recommendations("Romeo and Juliet")

243                                Sharp Objects
225                                  Dark Places
2168                                 The Grownup
2616                      The Kind Worth Killing
3311                                 Pretty Baby
1344                                Pretty Girls
810                                The Good Girl
7870                                 Second Life
60                         The Girl on the Train
444                         Before I Go to Sleep
2206    Broken Harbour (Dublin Murder Squad, #4)
2529                                   The Widow
4899                        Where They Found Her
472       In the Woods (Dublin Murder Squad, #1)
2395                     Into the Darkest Corner
6212                                  Disclaimer
8313                               Dear Daughter
3465                               What She Knew
1305                             The Silent Wife
4839                               The Ice Twins
Name: title, dtype: object

In [80]:


df_item = books[['book_id','corpus']]

In [82]:
df_item.head()

   book_id                                             corpus
0  2767052  Suzanne Collins to-read fantasy favorites curr...
1        3  J.K. Rowling, Mary GrandPrÃ© to-read fantasy f...
2    41865  Stephenie Meyer to-read fantasy favorites curr...
3     2657  Harper Lee to-read favorites currently-reading...
4     4671  F. Scott Fitzgerald to-read favorites currentl...

In [83]:
df_tags = pd.get_dummies(df_item['corpus'])

In [85]:
df_tags.shape

(10000, 10000)

In [119]:
books['corpus'] = (pd.Series(books[['authors', 'tag_name']]
                .fillna('')
                .values.tolist()
                ).str.join(' '))

In [120]:
s = books[['authors', 'tag_name']].fillna('').values.tolist()

In [121]:
from tqdm import tqdm

In [122]:
l = []
for i in s:
    l.extend(i)

In [123]:
len(l)

20000

In [124]:
l = set(l)

In [125]:
len(l)

14664

In [126]:
l = list(l)

In [127]:
df_genre = pd.get_dummies(l)

In [128]:
df_genre.shape

(14664, 14664)

In [129]:

from sklearn.feature_extraction.text import CountVectorizer

In [130]:
vect = CountVectorizer(analyzer = 'word', ngram_range = (1,2), stop_words = 'english', min_df = 0.002)

In [131]:
vect.fit(books['corpus'])
corpus_matrix = vect.transform(books['corpus'])

In [132]:
corpus_matrix.shape

(10000, 8606)

In [133]:
features = vect.get_feature_names()
features

['00',
 '01',
 '01 folklore',
 '02',
 '02 fantasy',
 '04',
 '04 realistic',
 '10',
 '100',
 '100 100',
 '100 1001',
 '100 best',
 '100 books',
 '100 essential',
 '100 lit',
 '100 modern',
 '100 novels',
 '100 time',
 '1000',
 '1000 books',
 '1000 crime',
 '1000 english',
 '1001',
 '1001 books',
 '1001 children',
 '1001 childrens',
 '1001 die',
 '1001 import',
 '1001 list',
 '1001 literature',
 '1001 read',
 '1001books',
 '11',
 '12',
 '16th',
 '16th century',
 '1700s',
 '17th',
 '17th century',
 '1800s',
 '1800s classici',
 '1800s penguin',
 '18th',
 '18th century',
 '1900s',
 '1900s 1001',
 '1900s classic',
 '1910s',
 '1920s',
 '1930s',
 '1940s',
 '1945',
 '1945 post',
 '1950s',
 '1950s detective',
 '1950s read',
 '1960s',
 '1960s drama',
 '1960s modern',
 '1970s',
 '1970s book',
 '1970s hold',
 '1970s sff',
 '1980',
 '1980s',
 '1980s narrativa',
 '1980s paperback',
 '1990',
 '1990s',
 '1990s paperback',
 '1990s read',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '19th century',
 '1st',
 '1st grade',
 '1st series',
 '20',
 '200',
 '2000',
 '2000 ece',
 '2000 edrd',
 '2000s',
 '2000s bookclub',
 '2000s favorite',
 '2000s gave',
 '2000s memoir',
 '2000s read',
 '2001',
 '2002',
 '2003',
 '2003 audio',
 '2003 read',
 '2004',
 '2004 general',
 '2004 realistic',
 '2005',
 '2005 favorite',
 '2005 kindle',
 '2005 read',
 '2005 scifi',
 '2005 shelfari',
 '2006',
 '2006 crime',
 '2006 popular',
 '2006 read',
 '2006 relationships',
 '2006 reviewed',
 '2006 women',
 '2007',
 '2008',
 '2008 books',
 '2008 europe',
 '2008 library',
 '2008 purchased',
 '2008 read',
 '2008 tbr',
 '2008 want',
 '2009',
 '2009 2006',
 '2009 2016',
 '2009 books',
 '2009 bought',
 '2009 drama',
 '2009 guilty',
 '2009 high',
 '2009 kindle',
 '2009 medical',
 '2009 modern',
 '2009 politics',
 '2009 read',
 '2009 reads',
 '2009 religion',
 '2009 reviewed',
 '2009 stories',
 '2010',
 '2010 beach',
 '2010 books',
 '2010 chicklit',
 '2010 crime',
 '2010 europe',
 '2010 general',
 '2010 journalism',
 '2010 library',
 '2010 mythology',
 '2010 narrativa',
 '2010 need',
 '2010 paperback',
 '2010 read',
 '2010 reads',
 '2010 realistic',
 '2010 survival',
 '2010 tbr',
 '2010 teen',
 '2010 uk',
 '2010 want',
 '2010 war',
 '2010s',
 '2011',
 '2011 2013',
 '2011 books',
 '2011 borrowed',
 '2011 contemporary',
 '2011 crime',
 '2011 fairies',
 '2011 female',
 '2011 finished',
 '2011 humor',
 '2011 juvenile',
 '2011 love',
 '2011 police',
 '2011 psychological',
 '2011 read',
 '2011 reads',
 '2011 release',
 '2011 sci',
 '2011 teen',
 '2011 werewolves',
 '2011 wish',
 '2011 ya',
 '2011 young',
 '2012',
 '2012 1980s',
 '2012 art',
 '2012 book',
 '2012 books',
 '2012 britain',
 '2012 chick',
 '2012 classic',
 '2012 death',
 '2012 dystopias',
 '2012 epic',
 '2012 europe',
 '2012 family',
 '2012 general',
 '2012 journalism',
 '2012 library',
 '2012 mythology',
 '2012 narrativa',
 '2012 need',
 '2012 paperback',
 '2012 political',
 '2012 psychology',
 '2012 purchased',
 '2012 read',
 '2012 reads',
 '2012 realistic',
 '2012 release',
 '2012 releases',
 '2012 signed',
 '2012 social',
 '2012 stars',
 '2012 survival',
 '2012 tbr',
 '2012 uk',
 '2012 want',
 '2012 war',
 '2013',
 '2013 2013',
 '2013 2016',
 '2013 books',
 '2013 borrowed',
 '2013 bought',
 '2013 contemporary',
 '2013 drama',
 '2013 fantasy',
 '2013 female',
 '2013 finished',
 '2013 high',
 '2013 humor',
 '2013 juvenile',
 '2013 kindle',
 '2013 love',
 '2013 loved',
 '2013 politics',
 '2013 read',
 '2013 reads',
 '2013 release',
 '2013 releases',
 '2013 religion',
 '2013 reviewed',
 '2013 sci',
 '2013 sf',
 '2013 thriller',
 '2013 wish',
 '2013 ya',
 '2013 young',
 '2014',
 '2014 2014',
 '2014 2015',
 '2014 2016',
 '2014 adoption',
 '2014 books',
 '2014 bought',
 '2014 challenge',
 '2014 childhood',
 '2014 classic',
 '2014 contemporary',
 '2014 crime',
 '2014 drama',
 '2014 ebook',
 '2014 erotic',
 '2014 future',
 '2014 high',
 '2014 horror',
 '2014 kids',
 '2014 kindle',
 '2014 medical',
 '2014 modern',
 '2014 politics',
 '2014 read',
 '2014 reading',
 '2014 reads',
 '2014 release',
 '2014 releases',
 '2014 religion',
 '2014 reviewed',
 '2014 scanned',
 '2014 sf',
 '2014 short',
 '2014 stories',
 '2014 time',
 '2014 women',
 '2015',
 '2015 2014',
 '2015 2015',
 '2015 adult',
 '2015 books',
 '2015 buy',
 '2015 challenge',
 '2015 contemporary',
 '2015 dragons',
 '2015 epic',
 '2015 fantasy',
 '2015 favorites',
 '2015 humor',
 '2015 interested',
 '2015 juvenile',
 '2015 kindle',
 '2015 love',
 '2015 loved',
 '2015 read',
 '2015 reading',
 '2015 reads',
 '2015 release',
 '2015 releases',
 '2015 romance',
 '2015 science',
 '2015 shelfari',
 '2015 summer',
 '2015 séries',
 '2015 thriller',
 '2015 time',
 '2015 werewolves',
 '2015 wish',
 '2016',
 '2016 2015',
 '2016 2016',
 '2016 2017',
 '2016 audio',
 '2016 book',
 '2016 books',
 '2016 challenge',
 '2016 chicklit',
 '2016 childrens',
 '2016 contemporary',
 '2016 dragons',
 '2016 epic',
 '2016 favorites',
 '2016 friendship',
 '2016 humor',
 '2016 library',
 '2016 love',
 '2016 loved',
 '2016 mystery',
 '2016 overdrive',
 '2016 read',
 '2016 reading',
 '2016 reads',
 '2016 release',
 '2016 releases',
 '2016 supernatural',
 '2016 thriller',
 '2016 time',
 '2016 wish',
 '2016 ya',
 '2017',
 '2017 2016',
 '2017 2017',
 '2017 action',
 '2017 art',
 '2017 audio',
 '2017 book',
 '2017 books',
 '2017 bookshelf',
 '2017 borrowed',
 '2017 challenge',
 '2017 children',
 '2017 classic',
 '2017 england',
 '2017 epic',
 '2017 family',
 '2017 fantasy',
 '2017 favourite',
 '2017 favs',
 '2017 female',
 '2017 finished',
 '2017 general',
 '2017 giveaways',
 '2017 historical',
 '2017 mythology',
 '2017 need',
 '2017 read',
 '2017 reading',
 '2017 reads',
 '2017 realistic',
 '2017 school',
 '2017 self',
 '2017 shelf',
 '2017 sociology',
 '2017 summer',
 '2017 tbr',
 '2017 want',
 '2017 war',
 '20s',
 '20s 65',
 '20th',
 '20th century',
 '21st',
 '21st century',
 '2nd',
 '2nd grade',
 '30',
 '307',
 '311',
 '314',
 '314 childrens',
 '33',
 '33 keepers',
 '3601',
 '3601 edrd',
 '3rd',
 '3rd grade',
 '40',
 '40 book',
 '4th',
 '4th grade',
 '50',
 '50 books',
 '501',
 '501 read',
 '5th',
 '5th grade',
 '642',
 '65',
 '65 books',
 '66',
 '66 longer',
 '6th',
 '6th grade',
 '7th',
 '7th grade',
 '8th',
 '8th grade',
 '9th',
 '9th grade',
 'abandoned',
 'abandoned 1001',
 'abandoned audible',
 'abandoned audio',
 'abandoned did',
 'abandoned ebooks',
 'abandoned modern',
 'abandoned read',
 'abandoned unfinished',
 'abbi',
 'abbi glines',
 'abduction',
 'abraham',
 'absolute',
 'absolute favorites',
 'abuse',
 'abuse child',
 'abuse disturbing',
 'abuse favorite',
 'abuse kindle',
 'abuse tear',
 'academia',
 'academic',
 'academic psychology',
 'academic society',
 'academy',
 'acceptance',
 'acquire',
 'action',
 'action adventure',
 'action borrowed',
 'action british',
 'action fantasy',
 'action finished',
 'action juvenile',
 'action movie',
 'action packed',
 'action read',
 'action sci',
 'action suspense',
 'action thriller',
 'action ya',
 'action young',
 'activism',
 'actors',
 'adams',
 'addiction',
 'addiction bio',
 'addiction mental',
 'adolescence',
 'adoption',
 'adult',
 'adult 1001',
 'adult 2013',
 'adult 20th',
 'adult abandoned',
 'adult adult',
 'adult audible',
 'adult bad',
 'adult book',
 'adult books',
 'adult children',
 'adult contemporary',
 'adult cute',
 'adult ebooks',
 'adult fantasy',
 'adult fiction',
 'adult friendship',
 'adult historical',
 'adult home',
 'adult hot',
 'adult humor',
 'adult humorous',
 'adult lendable',
 'adult lit',
 'adult literature',
 'adult middle',
 'adult mystery',
 'adult non',
 'adult nonfiction',
 'adult paranormal',
 'adult read',
 'adult rock',
 'adult romance',
 'adult satire',
 'adult sci',
 'adult science',
 'adult space',
 'adult speculative',
 'adult ya',
 'adultery',
 'adults',
 'adults guilty',
 'adults paranormal',
 'adventure',
 'adventure abandoned',
 'adventure action',
 'adventure adult',
 'adventure audible',
 'adventure audiobook',
 'adventure book',
 'adventure books',
 'adventure childhood',
 'adventure children',
 'adventure classic',
 'adventure comedy',
 'adventure default',
 'adventure ebooks',
 'adventure fiction',
 'adventure sci',
 'adventure scifi',
 'adventure survival',
 'adventure thriller',
 'adventure time',
 'adventure travel',
 'adventure wanderlust',
 'adventures',
 'advertising',
 'advice',
 'aesthetics',
 'affairs',
 'affairs social',
 'afghanistan',
 'africa',
 'africa cultural',
 'africa drama',
 'african',
 'african american',
 'african lit',
 'african literature',
 'agatha',
 'agatha christie',
 'agatha whodunnit',
 'agatha ágatha',
 'agathachristie',
 'age',
 'age audio',
 'age bookshelf',
 'age childhood',
 'age children',
 'age classic',
 'age england',
 'age favs',
 'age read',
 'age science',
 'age shelf',
 'age spirit',
 'agent',
 'ages',
 'ages medieval',
 'aging',
 'ago',
 'al',
 'alan',
 'alaska',
 'alcoholism',
 'alex',
 'alex award',
 'alex cross',
 'alexander',
 'alice',
 'alien',
 'aliens',
 'aliens ebooks',
 'aliens literature',
 'aliens science',
 'allegory',
 'allen',
 'alones',
 'alones 2014',
 'alones books',
 'alones ya',
 'aloud',
 'aloud elementary',
 'aloud kid',
 'alouds',
 'alouds books',
 'alouds kids',
 'alouds picture',
 'alouds young',
 'alpha',
 'alpha dual',
 'alpha hero',
 'alpha male',
 'alpha males',
 'alphabet',
 'alphabet mysteries',
 'alphabet series',
 'alphas',
 'alt',
 'alt history',
 'alternate',
 'alternate history',
 'alternate reality',
 'alternate universe',
 'alternating',
 'alternating pov',
 'alternative',
 'alternative history',
 'amanda',
 'amazing',
 'amazing wish',
 'amazon',
 'amazon 100',
 'amazon books',
 'amazon kindle',
 'amazon prime',
 'america',
 'america biographies',
 'america latin',
 'america literary',
 'america read',
 'america spanish',
 'america united',
 'america usa',
 'american',
 'american 1990s',
 'american 2000s',
 'american 21st',
 'american america',
 'american animals',
 'american authors',
 'american biography',
 'american bookclub',
 'american civil',
 'american classics',
 'american couldn',
 'american favorite',
 'american fiction',
 'american finished',
 'american gave',
 'american historical',
 'american history',
 'american kindle',
 'american latin',
 'american listened',
 'american lit',
 'american literary',
 'american literature',
 'american maybe',
 'american memoir',
 'american military',
 'american multicultural',
 'american native',
 'american nonfic',
 'american nonfiction',
 'american owned',
 'american paperback',
 'american politics',
 'american presidents',
 'american race',
 'american read',
 'american revolution',
 'american short',
 'american slavery',
 'american south',
 'american usa',
 'american want',
 'american west',
 'americana',
 'americana 1990s',
 'americana read',
 'americans',
 'americans native',
 'amnesia',
 'amy',
 'ancient',
 'ancient ancient',
 'ancient classics',
 'ancient greece',
 'ancient history',
 'ancient literature',
 'ancient rome',
 'ancient world',
 'anderson',
 'anderson read',
 'andrew',
 'andrews',
 'andrews read',
 'angel',
 'angeles',
 'angeles noir',
 'angels',
 'angels demons',
 'angels vampires',
 'angels ya',
 'angst',
 'angst book',
 'angst forbidden',
 'angsty',
 'angsty angst',
 'animal',
 'animal animal',
 'animal books',
 'animal fantasy',
 'animal fiction',
 'animal picture',
 'animal stories',
 'animals',
 'animals autobiography',
 'animals bookclub',
 'animals favorite',
 'animals listened',
 'animals paperback',
 'animals read',
 'animals realistic',
 'animals school',
 'animals short',
 'anime',
 'anime comic',
 'anime manga',
 'anime read',
 'anita',
 'anita blake',
 'ann',
 'ann rice',
 'anna',
 'anne',
 'anne ann',
 'anne mccaffrey',
 'anne rice',
 'anthologies',
 'anthology',
 'anthology book',
 'anthology books',
 'anthology collections',
 'anthony',
 'anthropology',
 'anthropology american',
 'anthropology education',
 'anthropology science',
 'anthropomorphic',
 'anthropomorphic anthropomorphism',
 'anthropomorphism',
 'anthropomorphism animal',
 'anti',
 'anti hero',
 'antiquity',
 'ap',
 'ap lit',
 'apocalypse',
 'apocalypse futuristic',
 'apocalypse graphic',
 'apocalypse post',
 'apocalyptic',
 'apocalyptic 2015',
 'apocalyptic apocalypse',
 'apocalyptic arc',
 'apocalyptic books',
 'apocalyptic dystopian',
 'apocalyptic end',
 'apocalyptic read',
 'apocalyptic short',
 'apocalyptic stars',
 'apologetics',
 'appalachia',
 'april',
 'arabic',
 'arabic books',
 'arabic fiction',
 'arabic literature',
 'arabic novels',
 'arabic أدب',
 'arc',
 'arc books',
 'arc debut',
 'arc downloaded',
 'arc fantasy',
 'arc mystery',
 'arc paranormal',
 'arc reads',
 'arc series',
 'arc standalones',
 'archaeology',
 'archer',
 'archer archer',
 'archer jeffery',
 'archer jeffrey',
 'archer read',
 'architecture',
 'archive',
 'arcs',
 'arcs 2014',
 'armentrout',
 'armentrout jennifer',
 'armentrout read',
 'armstrong',
 'arranged',
 'arranged marriage',
 'art',
 'art architecture',
 'art art',
 'art artists',
 'art books',
 'art comics',
 'art design',
 'art film',
 'art general',
 'art graphic',
 'art historical',
 'art history',
 'art manliness',
 'art need',
 'art photography',
 'art read',
 'art realistic',
 'art related',
 'art school',
 'art theory',
 'arte',
 'arthur',
 'arthurian',
 'arthurian arthurian',
 'arthurian legend',
 'arthuriana',
 'artificial',
 'artificial intelligence',
 'artist',
 'artists',
 'arts',
 'arts art',
 'artsy',
 'ary',
 'ashley',
 'ashley books',
 'ashley kristen',
 'ashley read',
 'asia',
 'asia indian',
 'asia library',
 'asia middle',
 'asia translated',
 'asia women',
 'asian',
 'asian american',
 'asian asian',
 'asian culture',
 'asian fiction',
 'asian lit',
 'asian literature',
 'asimov',
 'asimov isaac',
 'ass',
 'ass heroine',
 'ass heroines',
 'assassin',
 'assassins',
 'assigned',
 'assigned reading',
 'astronomy',
 'atheism',
 'athlete',
 'athletes',
 'athletes athlete',
 'attract',
 'attraction',
 'audible',
 'audible audio',
 'audible books',
 'audible did',
 'audible ebooks',
 'audible modern',
 'audible read',
 'audible unfinished',
 'audio',
 'audio 2005',
 'audio book',
 'audio books',
 'audio buy',
 'audio cd',
 'audio faves',
 'audio favorite',
 'audio juvenile',
 'audio kindle',
 'audio novel',
 'audio read',
 'audio scifi',
 'audio shelfari',
 'audio young',
 'audiobook',
 'audiobook audiobooks',
 'audiobook children',
 'audiobook fantasy',
 'audiobook favorite',
 'audiobook kids',
 'audiobook library',
 'audiobook novels',
 'audiobook stars',
 'audiobooks',
 'audiobooks books',
 'audiobooks british',
 'audiobooks english',
 'audiobooks favorites',
 'audiobooks library',
 'audiobooks mystery',
 'audiobooks paranormal',
 'audiobooks read',
 'audiobooks teen',
 'audiobooks ya',
 'august',
 'aussie',
 'aussie authors',
 'austen',
 'australia',
 'australia australian',
 'australian',
 'australian author',
 'australian authors',
 'australian bookclub',
 'australian fiction',
 'australian read',
 'austria',
 'austrian',
 'author',
 'author 2012',
 'author 2015',
 'author 2016',
 'author adult',
 'author books',
 'author canadian',
 'author children',
 'author contemporary',
 'author demons',
 'author fantasia',
 'author friendship',
 'author guilty',
 'author horror',
 'author humor',
 'author indian',
 'author kindle',
 'author kristen',
 'author love',
 'author male',
 'author nora',
 'author read',
 'author reviewed',
 'author rory',
 'author sherrilyn',
 'author suspense',
 'author thriller',
 'author wish',
 'author ya',
 'authors',
 'authors 1990s',
 'authors 2015',
 'authors 2016',
 'authors adult',
 'authors america',
 'authors australian',
 'authors black',
 'authors bookshelf',
 'authors canadian',
 'authors color',
 'authors drama',
 'authors feminism',
 'authors health',
 'authors indian',
 'authors kindle',
 'authors library',
 'authors life',
 'authors literary',
 'authors literature',
 'authors modern',
 'authors paperback',
 'authors poc',
 'authors politics',
 'authors read',
 'authors religion',
 'authors short',
 ...]

In [135]:
word_count = [df_item['corpus'].str.contains('\\b'+x+'\\b', case = False).sum() for x in features]
word_count

[30,
 37,
 0,
 58,
 0,
 43,
 0,
 25,
 372,
 31,
 35,
 0,
 1,
 0,
 41,
 39,
 0,
 33,
 229,
 1,
 26,
 18,
 607,
 0,
 0,
 0,
 0,
 0,
 0,
 511,
 0,
 73,
 37,
 36,
 61,
 0,
 26,
 64,
 0,
 161,
 33,
 43,
 98,
 0,
 126,
 21,
 28,
 43,
 95,
 124,
 113,
 34,
 20,
 159,
 20,
 7,
 169,
 41,
 20,
 198,
 0,
 0,
 28,
 21,
 261,
 21,
 92,
 27,
 396,
 110,
 121,
 23,
 20,
 30,
 35,
 47,
 69,
 495,
 0,
 386,
 0,
 0,
 34,
 60,
 166,
 21,
 23,
 390,
 64,
 22,
 71,
 47,
 56,
 99,
 110,
 151,
 22,
 18,
 213,
 45,
 52,
 351,
 21,
 63,
 107,
 24,
 97,
 568,
 53,
 23,
 3,
 46,
 37,
 135,
 75,
 394,
 43,
 26,
 0,
 21,
 32,
 20,
 24,
 1003,
 25,
 28,
 8,
 39,
 124,
 24,
 31,
 0,
 26,
 20,
 36,
 204,
 0,
 40,
 47,
 20,
 1832,
 39,
 49,
 24,
 30,
 54,
 28,
 29,
 1,
 36,
 20,
 23,
 640,
 226,
 0,
 64,
 28,
 92,
 59,
 25,
 102,
 40,
 107,
 2802,
 33,
 66,
 711,
 144,
 31,
 45,
 45,
 696,
 38,
 106,
 52,
 20,
 31,
 292,
 0,
 0,
 180,
 50,
 24,
 47,
 299,
 116,
 3924,
 56,
 21,
 17,
 82,
 27,
 131,
 39,
 87,
 29,
 22,
 144,
 25,
 35,
 31,
 354,
 57,
 45,
 38,
 522,
 31,
 39,
 66,
 1501,
 0,
 64,
 0,
 0,
 45,
 24,
 0,
 27,
 223,
 46,
 172,
 43,
 4834,
 69,
 45,
 66,
 454,
 34,
 23,
 112,
 158,
 68,
 665,
 20,
 24,
 120,
 0,
 24,
 71,
 34,
 3059,
 0,
 0,
 0,
 30,
 65,
 176,
 20,
 20,
 49,
 180,
 57,
 5465,
 24,
 21,
 506,
 28,
 15,
 130,
 0,
 139,
 24,
 185,
 51,
 362,
 3955,
 37,
 76,
 64,
 36,
 145,
 2,
 40,
 30,
 92,
 88,
 0,
 0,
 0,
 0,
 117,
 194,
 42,
 36,
 62,
 21,
 1,
 26,
 5829,
 64,
 179,
 27,
 8,
 0,
 0,
 528,
 64,
 40,
 28,
 0,
 363,
 0,
 327,
 3095,
 366,
 218,
 13,
 0,
 0,
 0,
 0,
 127,
 19,
 1115,
 22,
 47,
 451,
 69,
 86,
 333,
 5616,
 25,
 129,
 2,
 30,
 2,
 7,
 0,
 32,
 58,
 131,
 23,
 23,
 1,
 342,
 131,
 897,
 86,
 21,
 1414,
 137,
 1446,
 1,
 0,
 0,
 0,
 898,
 183,
 23,
 165,
 308,
 3255,
 56,
 38,
 90,
 23,
 568,
 20,
 19,
 130,
 26,
 0,
 100,
 177,
 350,
 37,
 20,
 168,
 53,
 79,
 19,
 19,
 37,
 28,
 26,
 23,
 43,
 200,
 6,
 0,
 60,
 19,
 17,
 0,
 37,
 20,
 371,
 144,
 69,
 37,
 27,
 1983,
 17,
 732,
 0,
 72,
 0,
 33,
 30,
 63,
 155,
 56,
 66,
 0,
 59,
 40,
 61,
 0,
 71,
 0,
 101,
 0,
 49,
 0,
 51,
 0,
 111,
 0,
 22,
 27,
 0,
 34,
 0,
 143,
 0,
 131,
 0,
 105,
 0,
 29,
 0,
 4174,
 378,
 2168,
 105,
 53,
 1124,
 36,
 2,
 132,
 22,
 22,
 33,
 20,
 61,
 0,
 412,
 38,
 32,
 36,
 0,
 39,
 43,
 175,
 45,
 50,
 25,
 24,
 22,
 2340,
 2,
 100,
 27,
 117,
 200,
 54,
 88,
 0,
 1347,
 85,
 0,
 10,
 49,
 35,
 26,
 22,
 23,
 99,
 21,
 25,
 25,
 56,
 8989,
 406,
 39,
 45,
 101,
 1846,
 135,
 38,
 3199,
 93,
 40,
 0,
 104,
 160,
 5,
 3558,
 47,
 1,
 30,
 19,
 69,
 30,
 62,
 0,
 188,
 70,
 0,
 0,
 6,
 0,
 18,
 23,
 30,
 45,
 63,
 111,
 104,
 51,
 75,
 31,
 129,
 27,
 17,
 3711,
 32,
 1,
 424,
 20,
 13,
 48,
 0,
 49,
 892,
 25,
 87,
 863,
 99,
 0,
 1461,
 253,
 1,
 0,
 0,
 3,
 30,
 51,
 21,
 50,
 26,
 76,
 26,
 31,
 159,
 23,
 42,
 217,
 0,
 0,
 0,
 48,
 43,
 33,
 28,
 22,
 1412,
 85,
 33,
 21,
 160,
 54,
 70,
 30,
 400,
 134,
 0,
 45,
 21,
 71,
 43,
 31,
 150,
 29,
 48,
 20,
 41,
 108,
 0,
 0,
 37,
 48,
 48,
 256,
 26,
 39,
 91,
 33,
 27,
 283,
 70,
 30,
 42,
 485,
 288,
 168,
 351,
 72,
 1,
 23,
 95,
 593,
 28,
 0,
 0,
 0,
 31,
 0,
 0,
 22,
 38,
 0,
 183,
 0,
 0,
 0,
 54,
 0,
 60,
 0,
 23,
 105,
 50,
 243,
 1,
 17,
 0,
 0,
 764,
 25,
 57,
 28,
 27,
 58,
 24,
 442,
 2756,
 27,
 29,
 274,
 67,
 55,
 0,
 25,
 70,
 1,
 1,
 39,
 109,
 1,
 0,
 27,
 43,
 12,
 26,
 20,
 90,
 0,
 63,
 4,
 468,
 122,
 26,
 21,
 39,
 138,
 21,
 28,
 60,
 0,
 0,
 33,
 74,
 1,
 24,
 33,
 37,
 75,
 59,
 0,
 281,
 24,
 104,
 68,
 23,
 35,
 38,
 107,
 28,
 1,
 1,
 2,
 0,
 0,
 0,
 33,
 0,
 46,
 41,
 6,
 71,
 87,
 24,
 221,
 0,
 64,
 49,
 273,
 142,
 56,
 176,
 158,
 215,
 117,
 0,
 0,
 0,
 21,
 0,
 577,
 30,
 32,
 39,
 28,
 24,
 83,
 23,
 68,
 42,
 111,
 55,
 5,
 105,
 43,
 0,
 86,
 0,
 41,
 130,
 25,
 19,
 33,
 130,
 206,
 0,
 0,
 38,
 53,
 143,
 38,
 23,
 23,
 31,
 20,
 22,
 20,
 55,
 0,
 45,
 56,
 0,
 210,
 39,
 34,
 53,
 430,
 90,
 191,
 51,
 33,
 8,
 24,
 51,
 23,
 0,
 43,
 27,
 44,
 90,
 0,
 0,
 0,
 0,
 62,
 824,
 25,
 26,
 33,
 24,
 25,
 29,
 0,
 48,
 54,
 52,
 21,
 20,
 20,
 0,
 0,
 54,
 36,
 100,
 24,
 25,
 21,
 0,
 21,
 24,
 0,
 681,
 0,
 77,
 4,
 6,
 188,
 2,
 24,
 29,
 71,
 19,
 2,
 0,
 23,
 10,
 17,
 45,
 0,
 53,
 0,
 30,
 73,
 35,
 26,
 0,
 20,
 51,
 0,
 25,
 73,
 147,
 31,
 44,
 22,
 35,
 0,
 13,
 0,
 322,
 27,
 20,
 24,
 76,
 21,
 198,
 0,
 33,
 0,
 0,
 0,
 0,
 22,
 21,
 238,
 0,
 0,
 65,
 91,
 54,
 0,
 33,
 43,
 44,
 50,
 26,
 32,
 20,
 4351,
 325,
 0,
 26,
 3724,
 31,
 1,
 81,
 6787,
 85,
 0,
 1,
 0,
 0,
 263,
 317,
 50,
 438,
 2681,
 1076,
 418,
 293,
 879,
 7243,
 1002,
 447,
 133,
 908,
 26,
 3,
 2718,
 0,
 6863,
 137,
 50,
 288,
 0,
 38,
 45,
 1439,
 780,
 169,
 52,
 32,
 40,
 0,
 23,
 83,
 57,
 123,
 0,
 0,
 22,
 0,
 34,
 23,
 21,
 2111,
 25,
 22,
 33,
 37,
 72,
 38,
 69,
 72,
 24,
 48,
 37,
 37,
 19,
 27,
 37,
 0,
 0,
 33,
 2,
 0,
 362,
 69,
 29,
 0,
 23,
 21,
 66,
 51,
 2992,
 28,
 29,
 69,
 43,
 70,
 30,
 24,
 0,
 88,
 0,
 65,
 129,
 34,
 24,
 300,
 14,
 27,
 84,
 25,
 22,
 147,
 18,
 20,
 797,
 25,
 105,
 ...]

# --------------------------------------------------------

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
books = pd.read_csv('./goodbooks-10k/books.csv', encoding = "ISO-8859-1",index_col=0)

In [3]:
books.head()

,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
id,,,,,,,,,,,,,,,,,,,,,
1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [4]:
books.columns

Index(['book_id', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13',
       'authors', 'original_publication_year', 'original_title', 'title',
       'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [5]:
ratings = pd.read_csv('./goodbooks-10k/ratings.csv', encoding = "ISO-8859-1")
ratings.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [6]:
book_tags = pd.read_csv('./goodbooks-10k/book_tags.csv', encoding = "ISO-8859-1")
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [7]:
tags = pd.read_csv('./goodbooks-10k/tags.csv', encoding = "ISO-8859-1")
tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [8]:
joined_tags = pd.merge(book_tags, tags, left_on='tag_id', right_on='tag_id', how='inner')
joined_tags.head()

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read
1                  2   30574   24549  to-read
2                  3   30574  496107  to-read
3                  5   30574   11909  to-read
4                  6   30574     298  to-read

In [9]:
joined_tags.shape

(999912, 4)

In [10]:
books_with_tags = pd.merge(books, joined_tags, left_on='book_id', right_on='goodreads_book_id', how='inner')

In [11]:
books_with_tags.head()

,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,...,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,goodreads_book_id,tag_id,count,tag_name
0,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,30574,11314,to-read
1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,11305,10836,fantasy
2,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,11557,50755,favorites
3,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,8717,35418,currently-reading
4,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,33114,25968,young-adult

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [13]:
tf1 = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix1 = tf1.fit_transform(books_with_tags['tag_name'].head(10000))
cos_sim1 = linear_kernel(tfidf_matrix1, tfidf_matrix1)

In [14]:
temp_df = books_with_tags.groupby('book_id')['tag_name'].apply(' '.join).reset_index()
temp_df.head()

   book_id                                           tag_name
0        1  to-read fantasy favorites currently-reading yo...
1        2  to-read fantasy favorites currently-reading yo...
2        3  to-read fantasy favorites currently-reading yo...
3        5  to-read fantasy favorites currently-reading yo...
4        6  to-read fantasy young-adult fiction harry-pott...

In [15]:
books = pd.merge(books, temp_df, left_on='book_id', right_on='book_id', how='inner')

In [16]:
books.shape

(10000, 23)

In [17]:
book_ratings = pd.merge(books, ratings, left_on='book_id', right_on='book_id', how='inner')

In [18]:
book_ratings.head()

,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,...,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_name,user_id,rating
0,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,...,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read fantasy favorites currently-reading yo...,314,3
1,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,...,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read fantasy favorites currently-reading yo...,588,1
2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,...,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read fantasy favorites currently-reading yo...,2077,2
3,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,...,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read fantasy favorites currently-reading yo...,2487,3
4,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,...,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read fantasy favorites currently-reading yo...,2900,3

In [19]:
rating_df = pd.pivot_table(book_ratings, values='rating', index=['book_id'], columns = ['user_id'])

In [20]:
rating_df.head()

user_id,2,3,4,7,9,10,11,14,15,19,...,53404,53406,53408,53409,53416,53419,53420,53422,53423,53424
book_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
rating_df.sort_index(axis=1, inplace=True)

In [22]:
users_no = rating_df.columns

# --------------------------------------------------------

In [25]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [30]:
books = pd.read_csv('./goodbooks-10k/books.csv', encoding = "ISO-8859-1",index_col=0)

In [31]:
books_title = books[['book_id', 'title']].copy()
books_title.head()

    book_id                                              title
id
1   2767052            The Hunger Games (The Hunger Games, #1)
2         3  Harry Potter and the Sorcerer's Stone (Harry P...
3     41865                            Twilight (Twilight, #1)
4      2657                              To Kill a Mockingbird
5      4671                                   The Great Gatsby

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:


#initialize vectorizer
vect = CountVectorizer(analyzer = 'word', ngram_range = (1,2), stop_words = 'english', min_df = 0.002)

In [34]:


vect.fit(books_title['title'])
title_matrix = vect.transform(books_title['title'])

In [35]:


title_matrix.shape

(10000, 261)

In [36]:
#Lets find vocabulary
features = vect.get_feature_names()
features

['01',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '39',
 'adventures',
 'alex',
 'alex cross',
 'america',
 'american',
 'angel',
 'angels',
 'anita',
 'anita blake',
 'apprentice',
 'art',
 'bad',
 'batman',
 'beautiful',
 'beauty',
 'best',
 'big',
 'black',
 'blake',
 'blake vampire',
 'blood',
 'blue',
 'body',
 'bone',
 'bones',
 'book',
 'books',
 'born',
 'bosch',
 'bosch universe',
 'boy',
 'boys',
 'broken',
 'brothers',
 'case',
 'cat',
 'child',
 'children',
 'chronicles',
 'circle',
 'city',
 'club',
 'complete',
 'confessions',
 'cross',
 'cycle',
 'dance',
 'dark',
 'dark hunter',
 'darkest',
 'darkness',
 'daughter',
 'davenport',
 'dawn',
 'day',
 'days',
 'dead',
 'death',
 'death death',
 'detective',
 'devil',
 'diaries',
 'diary',
 'die',
 'discworld',
 'dog',
 'don',
 'dragon',
 'dream',
 'dreams',
 'earth',
 'empire',
 'end',
 'fall',
 'fallen',
 'family',
 'fear',
 'files',
 'food',
 'forever',
 'forgotten',
 'forgotten realms',
 'game',
 'garden',
 'girl',
 'girls',
 'glass',
 'god',
 'gods',
 'golden',
 'gone',
 'good',
 'grave',
 'great',
 'green',
 'guide',
 'hard',
 'harry',
 'harry bosch',
 'harry potter',
 'heart',
 'heaven',
 'hercule',
 'hercule poirot',
 'hidden',
 'high',
 'history',
 'home',
 'house',
 'human',
 'hunter',
 'ice',
 'immortals',
 'inside',
 'island',
 'jack',
 'jack reacher',
 'john',
 'journey',
 'just',
 'kay',
 'kay scarpetta',
 'key',
 'king',
 'kinsey',
 'kinsey millhone',
 'kiss',
 'knight',
 'know',
 'lady',
 'left',
 'legacy',
 'legend',
 'life',
 'light',
 'like',
 'little',
 'lives',
 'living',
 'long',
 'lord',
 'lost',
 'love',
 'lucas',
 'lucas davenport',
 'magic',
 'magician',
 'man',
 'memoir',
 'men',
 'mercy',
 'midnight',
 'millhone',
 'mind',
 'miss',
 'moon',
 'mr',
 'murder',
 'new',
 'night',
 'novel',
 'novels',
 'old',
 'people',
 'perfect',
 'plum',
 'poems',
 'poirot',
 'potter',
 'power',
 'pretty',
 'prey',
 'prey lucas',
 'prince',
 'princess',
 'queen',
 'reacher',
 'realms',
 'red',
 'rising',
 'river',
 'road',
 'rock',
 'rose',
 'saga',
 'scarpetta',
 'school',
 'science',
 'sea',
 'second',
 'secret',
 'secrets',
 'series',
 'set',
 'seven',
 'shadow',
 'shadows',
 'short',
 'sisters',
 'small',
 'snow',
 'son',
 'song',
 'soul',
 'star',
 'stars',
 'stephanie',
 'stephanie plum',
 'stone',
 'stories',
 'storm',
 'story',
 'strange',
 'street',
 'summer',
 'sun',
 'sword',
 'tale',
 'tales',
 'tell',
 'things',
 'time',
 'tree',
 'trilogy',
 'true',
 'true story',
 'truth',
 'twilight',
 'universe',
 'vampire',
 'vampire hunter',
 'vampires',
 'vol',
 'volume',
 'walking',
 'walking dead',
 'war',
 'wars',
 'water',
 'way',
 'wheel',
 'white',
 'wicked',
 'wife',
 'wild',
 'winter',
 'witch',
 'woman',
 'women',
 'world',
 'year',
 'years']

In [37]:
len(features)

261

In [38]:
df_genre = pd.get_dummies()

In [40]:
df_genre.head()

,"Angels (Walsh Family, #3)","""Ø­ÙØ§ÙØ§Øª ÙØ±ØºÙÙ Ø§ÙÙ Ø³ØªÙØ§ÙÙ ""Ø­ÙØ§ÙØªÙ Ù Ø¹ ÙÙØ± Ø§ÙØ³Ø­ÙØ§ÙÙØ©",#GIRLBOSS,'Salem's Lot,"'Tis (Frank McCourt, #2)","1,000 Places to See Before You Die",1/4 Ø¬Ø±Ø§Ù,"10% Happier: How I Tamed the Voice in My Head, Reduced Stress Without Losing My Edge, and Found Self-Help That Actually Works","100 Bullets, Vol. 1: First Shot, Last Call",100 Love Sonnets,...,Ù Ø­Ø§Ù,Ù Ø®Ø·ÙØ·Ø© Ø¨Ù Ø¥Ø³Ø­Ø§Ù: Ù Ø¯ÙÙØ© Ø§ÙÙ ÙØªÙ,ÙØ§Ø¯Ù Ø§ÙØ³ÙØ§Ø±Ø§Øª,ÙØ´Øª Ú©ØªØ§Ø¨,ÙÙØ¨ØªØ§,ÙØ§Ø­Ø© Ø§ÙØºØ±ÙØ¨,ÙÙØªÙØ¨ÙØ§,Ú¤ÙØ±ØªÙØ¬Ù,ã­ã¹ãããæ©ã1 [Kisu Yorimo Hayaku 1] (Faster than a Kiss #1),ç¾å°å¥³æ¦å£«ã»ã¼ã©ã¼ã ã¼ã³æ°è£ ç 1 [BishÅjo Senshi Sailor Moon ShinsÅban 1]
id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0